<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</div>

<div class="grid">
   <div class="col-4">
      <p-card header="uppercase" [subheader]="nombreLower"> {{nombreLower | uppercase}} </p-card>
    </div>

    <div class="col-4">
      <p-card header="lowerCase" [subheader]="nombreUpper"> {{nombreUpper | lowercase}} </p-card>
    </div>

   <div class="col-4">
    <p-card header="titlecase" [subheader]="nombreCompleto"> {{nombreCompleto | titlecase}} </p-card>
    </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    Pipe para mostrar las fechas.
  </p>

  <div class="grid">

    <div class="col-6">
       <p-card >
        <ul>
          <li>Fecha</li>
          <li>Fecha | Date</li>
          <li>Fecha | Date: short</li>
          <li>Fecha | Date: long</li>
          <li>Fecha | Date: Día Mes Año</li>
        </ul>
        <hr>
        <ul>
          <li>Fecha Inglaterra | Date: Día Mes Año y Hora</li>
        </ul>
       </p-card>
     </div>

     <div class="col-6">
      <p-card >
        <ul>
          <li>{{fecha}}</li>
          <li>{{fecha | date}}</li>
          <li>{{fecha | date:'short'}}</li>
          <li>{{fecha | date:'long'}}</li>
          <li>{{fecha | date:'dd MMMM YYYY' }}</li>
        </ul>

        <hr>
        <ul>
          <li> {{fecha | date:'long': 'GMT+1': 'en'}} </li>
        </ul>
      </p-card>
    </div>

  </div>

</div>
